html,
body {
    margin: 0;
    height: 100%;
}

.btn-navigate {
    background-color: #005074 !important;
}

.float-right {
    float: right !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.info-icn {
    color: #FFB64D;
    font-size: medium;
    cursor: pointer;
}